/* Styles go here */
body {
	background-color: #ECF0F1;
	text-align: center;
}

ul {
	list-style-type: none;
}

.attendees {
	width: 620px;
	display: block;
	margin: 20px auto;
}

.attendees__attendee {
	width: 48%;
	margin: 0 1% 30px;
	float: left;
}

.hello-badge {
	border-radius: 15px;
	padding: 10px 0 15px;
	margin: 0 0 10px;
}

.hello-badge__title {
	color: white;
	font-weight: bold;
	font-size: 20px;
	line-height: 1;
}

.hello-badge__hello {
	font-size: 35px;
}

.hello-badge__name {
	width: 100%;
	background-color: white;
	font-size: 26px;
	padding: 30px 0;
	margin: 0;
	color: #2e2e2e;
}
